<div class="container p-3 w-50 mt-5">
  <div class="card p-5 mb-4">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="flex-fill row justify-content-between ml-0 mr-0">
          <div class="flex-fill bd-highlight w-50 pr-3"> <%= f.input :first_name %> </div>
          <div class="flex-fill bd-highlight w-50 pl-3"> <%= f.input :last_name %> </div>
        </div>
        <div class="flex-fill row justify-content-between ml-0 mr-0">
          <div class="flex-fill bd-highlight mr-2"> <%= f.input :telephone %> </div>
          <div class="flex-fill bd-highlight ml-3"> <%= f.input :grade_point_average %> </div>
          <div class="flex-fill bd-highlight"> <%= f.input :highest_education_attained %> </div>
        </div>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <%= f.input :cv, as: :file, input_html: { accept: ".pdf" } %>
      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-gradient w-20" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
