<div class="header_picture" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/2115217/pexels-photo-2115217.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <h2 class="header-font text-black text-center text-white mb-5">Find Your Dream Job</h2>
  <div class="row">
      <%= form_tag jobs_path, method: :get, id: "our-form" do %>

        <div class="fields-search">
          <%= text_field_tag :job_name,
            params[:query],
            class: "form-control",
            placeholder: "Enter job title", value: @job_name_value %>
        </div>

        <div class="fields-search">
          <%= select(:query, :city, @job_cities, include_blank: "City", selected: @job_cities_value ? @job_cities_value : "") %>
        </div>

        <div class="fields-search">
          <%= select(:query, :department, @job_categories, selected: @job_categories_value ? @job_categories_value : "", include_blank: "Department") %>
        </div>

        <div class="fields-search">
          <%= submit_tag "Search", class: "btn btn-lw" %>
        </div>

      <% end %>
  </div>
</div>

<div class="container col-md-10 mt-3">
  <% if @jobs.length == nil %>
    <p class="section-title mt-5 mb-5"> No Jobs match your search </p>
    <% elsif @jobs.length == 1 %>
    <h4 class="section-title mt-5 mb-5"><%=@jobs.length%> Job matches your search </h4>
  <% else %>
    <h4 class="section-title mt-5 mb-5"><%=@jobs.length%> Jobs match your search </h4>
  <% end %>
  <div class="card-deck ">
    <% @jobs.each do |job| %>
    <div class="card mb-4 pt-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <h3 class="card-title text-left"> <%= job.title %></h3>
            <h4 class="card-text"> <i class="fas fa-map-marker-alt mr-2"> </i><%=job.location%></h4>
            <h5> <%=job.category%> Department</h5>
          </div>
          <div class="col-md-2">
            <%  if current_user.applications.where(job_id: job.id)[0] %>
              <p><span style="color: green"><i class="fas fa-check-circle icon-green"></i><strong>   Already applied!</strong></span></p>
            <% end %>
            <%= link_to 'More Info', job_path(job), class: "btn mt-4 ml-5" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

