<%= render 'shared/navbar' %>
<div>
  <div class="header_picture h-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
    <h2 class="text-black text-center text-white">Find your next Job</h2>
  </div>
</div>

<div class="container col-md-10 mt-3">
  <% if @jobs.length == nil %>
    <p> No Jobs match your search </p>
  <% else %>
    <h4 class="mb-3"><%=@jobs.length%> Jobs match your search </h4>
  <% end %>
  <div class="card-deck">
    <% @jobs.each do |job| %>
    <div class="card mb-4 pt-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <h3 class="card-title text-left"> <%= job.title %></h3>
            <h5 class="card-text"> <%=job.location%></h5>
            <h5> <%=job.category%> Department</h5>
          </div>
          <div class="col-md-2">
            <%= link_to 'More Info', job_path(job), class: "btn mt-4 ml-5" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

