<div>
  <div class="header_picture" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">

    <div class="job-navigation">
      <%= link_to "Back", jobs_path, class: "btn btn-secondary mt-3 ml-3" %>

      <% if @job.user_job.present? %>
        <%= link_to " ", job_user_job_path(@job), method: :delete, class: "fas fa-heart fa-2x" %>
      <% else %>
        <%= link_to " ", job_user_jobs_path(@job), method: :post, class: "far fa-heart fa-2x" %>
      <% end %>
    </div>
    <h2 class="header-font text-white text-center"><%= @job.title %></h2>
    <h3 class="text-center"><%= @job.category %></h3>
    <h4 class="text-center"><i class="fas fa-map-marker-alt mr-3" > </i><%= @job.location %></h4>

    <div class="container-fluid text-center">
      <%= link_to "Apply now", new_job_application_path(@job), class: "btn mt-3 apply-btn  mb-0" %>
    </div>

  </div>
</div>
<div class="container mt-5">
  <div class="pb-3 pt-4 p-3 rounded">
    <div class="row">
      <div class="col-md-6">
        <h3 class="section-title">What we're looking for</h3>
        <br>
        <p class="application-info"><%= @job.description %></p>
      </div>
      <div class="col-md-6">
        <h3 class="section-title">Qualifications</h3>
        <br>
        <p class="application-info"><%= @job.requirement %></p>
      </div>
  <!-- <h3 class="section-title mt-5">The Application Process:</h3>
  <div class="row">
    <div class="col-md-6">
    <ul class="text-left list-group bg-none">
      <li class="list-group-item border-0 pl-2" style="background: none;">1. <%= Application::STATUSES.first %></li>
      <li class="list-group-item border-0 pl-2" style="background: none;">2. <%= Application::STATUSES.second %></li>
    </div>
    <div class="col-md-6">
      <li class="list-group-item border-0 pl-2" style="background: none;">3. <%= Application::STATUSES.third %></li>
      <li class="list-group-item border-0 pl-2" style="background: none;">4. <%= Application::STATUSES.fourth %></li>
    </ul>
    </div>
  </div> -->
    </div>
  </div>
</div>
