<!-- header picture -->
<div>
<div class="card-product">
  <div class="card-product-infos">
    <h2><%= @job.title %></h2>
    <h3><%= @job.location %></h3>
    <p><strong>What we're looking for: </strong><%= @job.description %></p>
    <p><strong>Qualifications: </strong><%= @job.requirement %></p>
    <%= link_to "Back", root_path, class: "btn" %>
  </div>
</div>
</div>


