<div>
  <div class="header_picture" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
<%= link_to "Back", jobs_path, class: "btn btn-secondary mt-3 ml-3" %>
    <h2 class="header-font text-white text-center"><%= @job.title %></h2>
    <h3 class="text-center"><%= @job.category %></h3>
    <h4 class="text-center"><i class="fas fa-map-marker-alt mr-3"> </i><%= @job.location %></h4>
    <div class="container-fluid text-center">
      <%= link_to "Apply now", new_job_application_path(@job), class: "btn mt-3 apply-btn" %>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="pb-3 pt-4 p-3 rounded">
    <div class="row">
      <div class="col-md-6">
        <h3 class="section-title">What we're looking for:</h3>
        <br>
        <p class="application-info"><%= @job.description %></p>
      </div>
      <div class="col-md-6">
        <h3 class="section-title">Qualifications:</h3>
        <br>
        <p class="application-info"><%= @job.requirement %></p>
      </div>
      <div class="col-md-12">

       <div class="text-center card mt-3 mb-3">
        <div class="card-body">
          <h3 class="section-title">Overview of the Application Process</h3>
          <p class="card-text">Additional content.</p>
          <a href="#" class="btn btn-secondary">More info</a>
        </div>
      </div>
    </div>
    <!-- <div class="fixed-bottom"> -->
  </div>
</div>
</div>



