<%= render 'shared/navbar' %>
<div>
  <div class="header_picture" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
    <h2 class="text-black text-center"><%= @job.title %></h2>
    <h3 class=" text-center"><i class="fas fa-map-marker-alt mr-3"> </i><%= @job.location %></h3>
  </div>
</div>
<%= link_to "Back", jobs_path, class: "btn mt-3 ml-3" %>
<div class="container">
<div class="card-product">
  <div class="card-product-infos">
    <h3><strong>What we're looking for: </strong></h3>
    <p><%= @job.description %></p>
    <h3><strong>Qualifications: </strong></h3>
    <p><%= @job.requirement %></p>

  </div>
</div>
</div>


