<div>
  <div class="header_picture" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">

    <h2 class="text-black text-center"><%= @job.title %></h2>
    <h3 class=" text-center"><i class="fas fa-map-marker-alt mr-3"> </i><%= @job.location %></h3>
    <!-- <div class="rating">
      <i class="far fa-star" id="rating-unlock"></i>
      <i class="fas fa-star" id="rating-lock"></i>
    </div> -->
  </div>
</div>
<%= link_to "Back", jobs_path, class: "btn btn-secondary mt-3 ml-3" %>
<div class="container">
  <div class="card bg-white pb-3 pt-4 p-3 rounded">
    <div class="row">
      <div class="col-md-6">
        <h3><strong>What we're looking for: </strong></h3>
        <p><%= @job.description %></p>
        <h3><strong>Qualifications: </strong></h3>
        <p><%= @job.requirement %></p>
      </div>
      <div class="col-md-6">
       <div class="card">
        <div class="card-body bg-light text-dark">
          <h3 class="card-title"><strong>Overview of the Application Process</strong></h3>
          <p class="card-text">There are <%= Application::STATUSES.length %> steps in the application process:
            <ul class="list-group">
              <li class="list-group-item"><%= Application::STATUSES.first %></li>
              <li class="list-group-item"><%= Application::STATUSES.second %></li>
              <li class="list-group-item"><%= Application::STATUSES.third %></li>
              <li class="list-group-item"><%= Application::STATUSES.fourth %></li>
            </ul>
          </p>
          <a href="#" class="btn btn-secondary">More info</a>
        </div>
      </div>
    </div>
    <!-- <div class="fixed-bottom"> -->
    <div class="container-fluid">
      <%= link_to "Apply now", new_job_application_path(@job), class: "btn mt-3 w-100" %>
    </div>
  </div>
</div>

<%= form_for(@user_job) do |f| %>
  <%= f.text_field :user %>
  <%= f.text_field :job %>
  <%= f.submit %>
<% end %>

