<div class="header_picture banner landing" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/313690/pexels-photo-313690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container col-md-10 text-center">
    <h1 class="header-font mt-0 text-white">Find your new Job with <i class="hiremelogo pt-1 pr-3 pl-1 pb-1"> HireMe!</i></h1>
    <p>The <strong>most transparent</strong> applicant tracking system</p>
  </div>
</div>

<div class="container col-md-10 mt-5 mb-5">
  <h1 class="text-center companies-font mb-5">Company of the week:</h1>
  <div class="card-deck ">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
          </div>
          <div class="col-md-8 pt-2">
            <h3 class="card-title text-left"> Le Wagon</h3>
            <h4 class="card-text"> <i class="fas fa-map-marker-alt mr-2"> </i>Paris, Berlin & London</h4>
            <h5> <%=@jobs.length%> open positions</h5>
          </div>
          <div class="col-md-2">
            <%= link_to "See more", lewagon_path, class:"btn btn-lw mt-5" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container col-md-10 mt-5 mb-5">
  <h1 class="text-center mb-5">Applicant advantages:</h1>
  <div class="cards">
    <div class="card-categoryy">
      <h1><i class="fas fa-map-marker-alt"></i> </h1>
      <p>Find the perfect job in your city</p>
    </div>

    <div class="card-categoryy">
      <h1><i class="fas fa-spinner"></i> </h1>
      <p>Keep track of your application status</p>
    </div>

    <div class="card-categoryy">
      <h1><i class="fas fa-users"></i> </h1>
      <p>Exclusive jobs at the best tech companies</p>
    </div>
  </div>
</div>

<h1 class="text-center companies-font mb-5">Companies that trust us:</h1>
<div class="container-portrait">

  <div class="card-portrait" style="background-image: url('/assets/rich.png'); background-position: center; background-size: cover;">
    <div class="overlay-portrait">
      <ul style="list-style-type: none; padding: 0;">
        <li><h4>Rich O'Grady</h4></li>
        <li>General Manager <em><%= link_to "LeWagon", root_path %></em>:</li>
        <li><em>"Fantastic! Where would we be without them?"</em></li>
      </ul>
    </div>
  </div>
  <div class="card-portrait" style="background-image: url('https://images.pexels.com/photos/1037915/pexels-photo-1037915.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-position: center; background-size: cover;">
    <div class="overlay-portrait">
      <ul style="list-style-type: none; padding: 0;">
        <li><h4>Helen Gardiner</h4></li>
        <li>Founder and CEO of <em><%= link_to "OneToMany" %></em>:</li>
        <li><em>"HireMe has proven itself as an HR asset, and is loved by our new hires!"</em></li>
      </ul>
    </div>
  </div>
  <div class="card-portrait" style="background-image: url('https://images.pexels.com/photos/842548/pexels-photo-842548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-position: center; background-size: cover;">
    <div class="overlay-portrait">
      <ul style="list-style-type: none; padding: 0;">
        <li><h4>Mason Tan</h4></li>
        <li>CEO, <em><%= link_to "Lunchmates", "https://www.lunchmates.club/" %></em>:</li>
        <li><em>"HireMe has changed our hiring practices for the better."</em></li>
      </ul>
    </div>
  </div>

</div>
</div>
</div>
