<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/914931/pexels-photo-914931.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container col-md-10">
    <h1 class="header-font">Apply for a job at <i class="highlighted-red highlighted">Le Wagon</i></h1>
    <p>The <strong> most transparent</strong> hiring experience</p>

    <div class="row">
      <%= form_tag jobs_path, method: :get, id: "home-form" do %>
      <div class="fields-search ml-3">
          <%= text_field_tag :job_name,
            params[:query],
            class: "form-control",
            placeholder: "Enter job title", value: @job_name_value %>
        </div>

        <div class="fields-search">
          <%= select(:query, :city, @job_cities, include_blank: "City", selected: @job_cities_value ? @job_cities_value : "") %>
        </div>

        <div class="fields-search">
          <%= select(:query, :department, @job_categories, selected: @job_categories_value ? @job_categories_value : "", include_blank: "Department") %>
        </div>

        <div class="fields-search">
          <%= submit_tag "Search", class: "btn btn-lw" %>
        </div>

      <% end %>
  	</div>
	</div>
</div>
<h6 class="provided_by">by <%= link_to root_path, class: "navbar-brand pt-0" do %>
 <i class="logo"> HireMe! </i></h6>
 <% end %>
<div class="container col-md-10 mt-5 mb-5">
  <h1 class="section-title mb-5">Featured job openings:</h1>
  <div class="card-deck-home">
    <% @jobs.last(3).each do |job| %>
    <div class="card mr-3">
        <div class="card-body">
          <h3 class="card-title text-left"> <%= job.title %></h3>
          <h4 class="card-text"> <i class="fas fa-map-marker-alt mr-1"> </i><%=job.location%></h4>
          <h5> <%=job.category%> Department</h5>
          <div>
            <%= link_to 'More Info', job_path(job), class: "btn mt-4" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

