<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/313690/pexels-photo-313690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container col-md-10">
    <h1>Apply for a job at 'Le Wagon'</h1>
    <p>Experience the<strong> most transparent</strong> hiring experience!</p>
    <div class="row">
      <div class="col-md-3">
        <%= form_tag jobs_path, method: :get do %>
        <%= text_field_tag :job_name,
          params[:query],
          class: "form-control",
          placeholder: "Enter job title" %>
    	</div>
    	<div class="col-md-1 mr-4">
        <%= select(:query, :city, @job_cities, prompt: "City") %>
    	</div>
    	<div class="col-md-3">
        <%= select(:query, :department, @job_categories, prompt: "Department") %>
    	</div>
      <div class="col-md-2 ml-2">
        <%= submit_tag "Search", class: "btn" %>
      </div>
      <% end %>
  	</div>
	</div>
</div>
<div class="container col-md-10 mt-5 mb-5">
  <h1 class="mb-5">Our latest job openings:</h1>
  <div class="card-deck-home">
    <% @jobs.last(3).each do |job| %>
    <div class="card mr-3">
        <div class="card-body">
          <h3 class="card-title text-left"> <%= job.title %></h3>
          <h5 class="card-text"> <i class="fas fa-map-marker-alt mr-1"> </i><%=job.location%></h5>
          <h5> <%=job.category%> Department</h5>
          <div>
            <%= link_to 'More Info', job_path(job), class: "btn mt-4" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% content_for :navbar do %>
<div class="no-nav"></div>
<% end %>