<div>
  <div class="header_picture" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3759059/pexels-photo-3759059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
    <h2 class="header-font text-white text-center pt-4 pb-4"> <%= @job.title %> </h2>
    <div class="container-fluid text-center">
      <%= simple_form_for [@job, @application] do |f| %>
      <%= f.button :submit, "Send Application", id: "sweet-alert-demo", class: "btn mt-3 apply-btn"%>
    </div>
  </div>
  <div class="container col-md-10">
    <div class="mt-5">
      <h2 class="section-title">Please attach a letter of motivation to your application:</h2>
        <%= f.input :letter_of_motivation %>
    </div>
    <h2 class="section-title mb-4 mt-5">This data will be shared from your profile:</h2>
    <div class="card bg-white pb-3 pt-4 p-3 rounded">
      <div class="flex-fill row justify-content-between ml-0 mr-0">
        <div class="flex-fill bd-highlight w-50 mb-2 pl-2"><h5>Name: <%= current_user.first_name %> <%= current_user.last_name %></h5></div>
        <div class="flex-fill bd-highlight w-50 mb-2 pl-5"><h5>Highest Level of Education: <%= current_user.highest_education_attained %></h5></div>
      </div>
      <div class="flex-fill row justify-content-between ml-0 mr-0">
        <div class="flex-fill bd-highlight w-50 mb-2 pl-2"><h5>E-Mail: <%= current_user.email %> </h5></div>
        <div class="flex-fill bd-highlight w-50 mb-2 pl-5"><h5>GPA: <%= current_user.grade_point_average %> </h5></div>
      </div>
      <div class="flex-fill row justify-content-between ml-0 mr-0">
        <div class="flex-fill bd-highlight w-50 mb-2 pl-2"><h5>Phone: <%= current_user.telephone %> </h5></div>
      </div>
    </div>
<%= f.button :submit, "Send Application", id: "sweet-alert-demo", class: "btn mt-3 apply-btn w-100"%>
  </div>
</div>
<% end %>
